
.schedule {
    display: flex;
    justify-content: center;
}

.schedule > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title_schedule {
    padding:6rem;
    text-align: center;
    margin-bottom:2em;
    width: 100%;
    background: linear-gradient(135deg, #1a9ba8 0%, #2bb4c4 100%);
    color: white;
}

.calendar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.lien_ICS {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.event-time {
    font-size: 0.8em;
}

.loader {
    margin-top: 15rem;
}

@media (max-width: 860px) {
    .title_schedule {
        padding: 4rem 2rem 2rem 2rem;
    }

    .calendar .fc-header-toolbar {
        flex-direction: column;
    }

    .calendar .fc-header-toolbar .fc-toolbar-chunk {
        margin-bottom: 10px;
    }

    .loader {
        margin-top: 3rem;
    }
}
