
.schedule {
    padding: 20px;
    margin-top: 6rem;
}

.calendar {
    max-width: 1200px;
    margin: 0 auto;
}

.lien_ICS {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.event-time {
    font-size: 0.8em;
}

@media (max-width: 768px) {
    .schedule {
        padding: 10px;
        margin-top: 25rem;
    }

    .calendar .fc-header-toolbar {
        flex-direction: column;
    }

    .calendar .fc-header-toolbar .fc-toolbar-chunk {
        margin-bottom: 10px;
    }
}
